<div id="menu_member_info">

<div class="top-comment">
	<h3>비밀번호 변경<button type="button" class="d1_btn" id="menu_member_back">돌아가기</button></h3>
</div>

<form action="./" method="post" class="menu_member_form" id="menu_modify_pw">
<input type="hidden" name="module" value="member">
<input type="hidden" name="act" value="procMemberModifyPassword">

<ul id="list-member" class="modify">

	<li>
		<div class="inner">
			<input id="m_user_id" type="text" name="user_id" disabled="disabled" class="iText" value="{$logged_info->user_id}">
			<label for="m_user_id">
				<p>아이디</p>
			</label>
		</div>
	</li>

	<li>
		<div class="inner">
			<input id="m_current_password" type="password" name="current_password" class="iText" value="">
			<label for="m_current_password">
				<p>{$lang->current_password}</p>
			</label>
		</div>
	</li>

	<li>
		<div class="inner">
			<input id="m_npw1" type="password" name="password1" class="iText" value="">
			<label for="m_npw1">
				<p>{$lang->password1}</p>
				<p style="margin: 8px 0 0 0;font-weight:normal;">{$lang->about_password_strength[$member_config->password_strength]}</p>
			</label>
		</div>
	</li>

	<li>
		<div class="inner">
			<input id="m_npw2" type="password" name="password2" class="iText" value="">
			<label for="m_npw2">
				<p>{$lang->password2}</p>
			</label>
		</div>
	</li>


</ul>


<div class="submitBtn">
	<span class="joinBtn">
		<input class="d1_btn member_pw_modify" type="submit" value="{$lang->cmd_registration}">
	</span>
</div>

</form>

</div>
