<div id="menu_member_info">

<div class="top-comment">
	<h3>비밀번호 재확인<button type="button" class="d1_btn" id="menu_member_back">돌아가기</button></h3>
</div>

<form action="./" method="post" onsubmit="return false;" class="menu_member_form" id="menu_modify_info">
<input type="hidden" name="module" value="member">
<input type="hidden" name="act" value="procMemberModifyInfo">

<ul id="list-member" class="modify">

	<li>
		<div class="inner">
			<input id="m_password" type="password" name="password" placeholder="비밀번호" class="iText">
			<label for="m_password">
				<p style="font-weight:normal">보안을 위해 현재 사용하고 계신 비밀번호를 입력하시길 바랍니다.</p>
			</label>
		</div>
	</li>

</ul>


<div class="submitBtn">
	<span class="joinBtn">
		<input class="d1_btn password_check" type="submit" value="확인">
	</span>
</div>

</form>

</div>
